<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= brandName %>
    </title>
    <link rel="stylesheet" href="/assets/global-styles.css" type="text/css">
    <link rel="stylesheet" href="/assets/brand.css" type="text/css">
</head>

<body>
    <%- include('navbar', {brands: brands}) %>
        <div class="global-container brand">
            <h1>
                <%= brandName %>
            </h1>
            <h2>Cars in stock:</h2>
            <div class="all_cars">
                <% cars.map(car=>{%>
                    <div class="car-item">
                        <h3>
                            <%= car.model %>
                        </h3>
                        <p>
                            <%= car.brandname %>
                        </p>
                        <p>Ammount in Stock: <%= car.count %>
                        </p>
                        <img src="<%= car.logo %>" alt="Logo">
                        <br>
                        <a href="/brands/">Go Back</a>
                    </div>
                    <% }) %>
            </div>
        </div>
</body>

</html>